<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>byoblu Editor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>byoblu Pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>byoblu test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>byoblu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8CE86701538224400427053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8CF713514B6EFED00D9D7FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8CF716414B6EFEE00D9D7FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8E1B02C15380B8F0040F7B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8E1B0C515380BAE0040F7B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
